<h2>List of ratings</h2>

<p>Number of ratings <%= @ratings.count %></p>

<ul class="list-group">
    <% @ratings.each do |rating| %>
    <li class="list-group-item">
        <%= rating %>
        <%= link_to rating.user.username, rating.user, class: "badge" %>
    </li>
    <% end %>
</ul>

<div><%= link_to 'New Rating', new_rating_path if current_user%></div>