<h2>List of ratings</h2>
Number of ratings <%= @ratings.count %>

<ul>
	<% @ratings.each do |rating| %>
	<li>
		<%= rating %>
		<%= link_to rating.user.username, rating.user %>
	</li>
	<% end %>
</ul>

<div><%= link_to 'New Rating', new_rating_path, class:"btn btn-primary" if current_user%></div>